*.dll
*.json
QuestConsole/bin/Debug/net7.0/QuestConsole.deps.json
QuestConsole/bin/Debug/net7.0/QuestConsole.dll
QuestConsole/bin/Debug/net7.0/QuestConsole.pdb
QuestConsole/bin/Debug/net7.0/QuestLib.pdb
QuestConsole/obj/project.assets.json
QuestConsole/obj/project.nuget.cache
QuestConsole/obj/QuestConsole.csproj.nuget.dgspec.json
QuestConsole/obj/Debug/net7.0/QuestConsole.csproj.AssemblyReference.cache
QuestConsole/obj/Debug/net7.0/QuestConsole.csproj.CopyComplete
QuestConsole/obj/Debug/net7.0/QuestConsole.csproj.CoreCompileInputs.cache
QuestConsole/obj/Debug/net7.0/QuestConsole.csproj.FileListAbsolute.txt
QuestConsole/obj/Debug/net7.0/QuestConsole.dll
QuestConsole/obj/Debug/net7.0/QuestConsole.GeneratedMSBuildEditorConfig.editorconfig
QuestConsole/obj/Debug/net7.0/QuestConsole.pdb
QuestConsole/obj/Debug/net7.0/ref/QuestConsole.dll
QuestConsole/obj/Debug/net7.0/refint/QuestConsole.dll
QuestLib/bin/Debug/net7.0/QuestLib.pdb
QuestLib/obj/Debug/net7.0/QuestLib.assets.cache
QuestLib/obj/Debug/net7.0/QuestLib.csproj.CoreCompileInputs.cache
QuestLib/obj/Debug/net7.0/QuestLib.csproj.FileListAbsolute.txt
QuestLib/obj/Debug/net7.0/QuestLib.GeneratedMSBuildEditorConfig.editorconfig
QuestLib/obj/Debug/net7.0/QuestLib.pdb
